.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  margin: 10px auto 30px;
}

.brand .title {
  font: italic normal bold 44px arial;
  color: #707070 !important;
}

.brand .title .line{
  width: 108px;
  border-bottom: 6px solid #b5c401;
  border-radius: 6px;
}
