<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./main.css">
  </head>
  <body class="container">
    <nav>
      <ul class="brand">
        <a href="" class="title">TGL</a>
        <div class="line"></div>
      </ul>
    </nav>
    @!section('body')
  </body>
</html>
